spring:
  datasource:
    url: jdbc:h2:mem:database
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      platform: h2
      schema-locations: classpath:/schema.sql